.box{
  padding: 0.5em;
}
#About{
  font-size: 2em;
  font: sans-serif;
  color: #931;
  margin: 0.55em;
  display: flex;
  justify-content: flex-start;
}
/* .mb-3{
  display: flex;
  justify-content: space-between;
} */
 h3{
  font-size: 2.5em;
  font: sans-serif;
  color: #177;
}

#ta{
  border-radius: 0.5em;
  border-width: 0.3em;
  border-color: lightblue;
  width: 99%;
  position: relative;

  }

.container{
  border-radius: 1em;
  border-color: cornflowerblue;
}

#UppButton{
  margin: 0.5em;
  margin-left: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
}

#InitButton{
  margin-left: 0.5em;
}

#LowButton{
  margin-left: 0.5em;
}

h2{
  font-size: 2em;
  font: sans-serif;
  color: #931;
  text-decoration: underline;
}

#word{
padding: 0.5em;
}

#abp{
  margin: 1em;
  font-size: large;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}
#abol{
  margin: 1em;
  font-size: large;
  font-style: italic;
  font-family: 'Courier New';
  font-weight: 200;
}

.abfooter{
  background-color: rgb(33, 29, 29);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  color: white;
  text-align: center;
}
.textfooter{
  background-color: rgb(33, 29, 29);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  color: white;
  text-align: center;
}
#abfop{
  text-align: center;
  padding: 0.5em;
}
/* .accentclick{
  animation: mymove 3s infinite;
  position: relative;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
} */
